/* ******************************************** Global Style */
html, body{
    margin: 0;
    padding: 0;
}
body{
    padding-top: 30px;
}

.flex-center{
 display: flex;
 justify-content: center;
 align-items: center;
}

.cursor_pointer{
    cursor: pointer;
}
.mt-60{
    margin-top: 60px;
}
.mb-60{
    margin-bottom: 60px;
}

.trn3{
    transition: 0.3s;
}

p{
    margin: 0;
}
.text-left{
    text-align: left;
}

.text-right{
    text-align: left;
}

/* ******************************************** c + bg */
.bg_Purple{
    background-color: #4d13d1
}


.c_Purple{
    color: #4d13d1
}

.bg-white{
    border-color: white;
}

/* ******************************************** Font */
.manualFontsize{
    font-size:  15px
}

.manualFontsizeMini{
    font-size:  13px
}

/* ******************************************** Navbar */
.NavbarDesktop{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.NavbtnAuth{
    height: 45px;
    border-radius: 8px;
    overflow: hidden;
}

.btnSolid{
    height: 45px;
}

.MiddleNavbar{
    width: 350px;
    display: flex;
    justify-content: end;
}

.d_MobileNav{
    display: none;

}


/****************************************************************************/
.directionRowcolumnMobileDesktop{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.justifyBetweenMobileDesktop{
    display: flex;
    justify-content: space-between;
}
.w30w100MobileDesktop{
    width: 30%;
}

.texDecoration{
    
    text-decoration: underline;
    text-decoration-thickness: 1px;
}

.iconStar{
    width: 20px;
    height: 20px;
    margin-bottom: 10px;
}

.w_50_w_100Mobile{
    width: 50%;
}

.icon3optionsFiber{
    width: 40px;
}


.boxgradient{
    width: 100%;
    height: 500px;
    border-radius: 8px;
    overflow: hidden;
    padding: 0 50px 0 50px;

}

.cardicon{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
}
.w_50_w_100boxesinboxgradient{
    width: 50%;
}
.boxPageimage{
    width: 450px;
    height: 450px;
    border-radius: 8px 8px 0 0 ;
    overflow: hidden;
    bottom: 0;
}
/****************************************************************************/


/* ******************************************** Footer */
.textFiberEndPage{
    width: 400px;
}

.footerGrid{
    display: flex;
    justify-content: space-between;


}


/* ******************************************** Media */
@media only screen and (max-width: 750px) {
    .w_50_w_100boxesinboxgradient{
        width: 100%;
    }
    .d_desktopNav{
        display: none;
    }
    .d_MobileNav{
        display: flex;
        justify-content: space-between;
    }
    .footerGrid{
        margin-top: 20%;
    }
}

@media only screen and (max-width: 950px) {

    .w_50_w_100Mobile{
        width: 100%;
    }

    .justifyBetweenMobileDesktop {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
    }

    .directionRowcolumnMobileDesktop{
        display: flex;
        flex-direction: column-reverse;
        align-items: baseline;
    }

    .w30w100MobileDesktop{
        width: 100%;
    }


    .boxgradient{
        height: 700px;
        padding: 30px 50px 0 50px;
    }
}

@media only screen and (max-width: 991px) {
    .textFiberEndPage{
        width: 300px;
    }
    .footerGrid{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 50rem;
    }
}
button{
    border: 0;
    background: transparent;
}



/************************************* Modal */

/*.modal.left .modal-dialog,*/
.modal.right .modal-dialog {
    position: fixed;
    margin: auto;
    width: 250px;
    height: 100%;
    -webkit-transform: translate3d(0%, 0, 0);
    -ms-transform: translate3d(0%, 0, 0);
    -o-transform: translate3d(0%, 0, 0);
    transform: translate3d(0%, 0, 0);
}

/*!*.modal.left .modal-content,*!*/
.modal.right .modal-content {
    height: 100%;
    overflow-y: auto;
}

/*!*.modal.left .modal-body,*!*/
.modal.right .modal-body {
    padding: 15px 15px 80px;
}

/*!*Left*!*/
/*.modal.left.fade .modal-dialog{*/
/*    left: -320px;*/
/*    -webkit-transition: opacity 0.3s linear, left 0.3s ease-out;*/
/*    -moz-transition: opacity 0.3s linear, left 0.3s ease-out;*/
/*    -o-transition: opacity 0.3s linear, left 0.3s ease-out;*/
/*    transition: opacity 0.3s linear, left 0.3s ease-out;*/
/*}*/

/*.modal.left.fade.in .modal-dialog{*/
/*    left: 0;*/
/*}*/

/*Right*/
.modal.right.fade .modal-dialog {
    right: 0;
    -webkit-transition: opacity 0.3s linear, right 0.3s ease-out;
    -moz-transition: opacity 0.3s linear, right 0.3s ease-out;
    -o-transition: opacity 0.3s linear, right 0.3s ease-out;
    transition: opacity 0.3s linear, right 0.3s ease-out;
}

.modal.right.fade.in .modal-dialog {
    right: 0;
}

/* ----- MODAL STYLE ----- */
.modal-content {
    border-radius: 0;
    border: none;
}

.modal-header {
    border-bottom-color: #EEEEEE;
    background-color: #FAFAFA;
}


/*.btn-demo {*/
/*    margin: 15px;*/
/*    padding: 10px 15px;*/
/*    border-radius: 0;*/
/*    font-size: 16px;*/
/*    background-color: #FFFFFF;*/
/*}*/

/*.btn-demo:focus {*/
/*    outline: 0;*/
/*}*/

/*.demo-footer {*/
/*    position: fixed;*/
/*    bottom: 0;*/
/*    width: 100%;*/
/*    padding: 15px;*/
/*    background-color: #212121;*/
/*    text-align: center;*/
/*}*/

/*.demo-footer > a {*/
/*    text-decoration: none;*/
/*    font-weight: bold;*/
/*    font-size: 16px;*/
/*    color: #fff;*/
/*}*/