<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <link rel="stylesheet" href="style/main.css">
    <link rel="stylesheet" href="../../style/main.css">
    <link rel="stylesheet" href="../../style/bootstrap.min.css">
    <link rel="stylesheet" href="../../style/font/css/font.css">
    <link rel="stylesheet" href="../../style/font/css/fontStyle.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fiber</title>
</head>
<body class="d-flex flex-row justify-content-center  bg_White trn3 container " >

<!--    ************************ Nav Mobile desktop-->


    <div class="box1SingUp bg-white mt-4">

        <span class="InterBold cursor_pointer"  id="fiber">Fiber</span>

        <h2 class="InterBold my-4 text-left" id="title">
            Create your Fiber Account
        </h2>
        <form class="wInputBox1">
            <div>
                <label for="name" class="form-label InterBold">Your Name</label>
                <input type="email" class="form-control" id="name" placeholder="John Doe">
            </div>
            <div class="my-4">
                <label for="email" class="form-label InterBold">E.mail</label>
                <input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="John@example.com">
            </div>
            <div class="mb-3">
                <label for="Password" class="form-label InterBold" >Password</label>
                <input type="password" class="form-control" id="Password" placeholder="At least 8 characters">
            </div>
            <div class="form-check">
                <input type="checkbox" class="form-check-input" id="check">
                <label class="form-check-label " for="check">By creating an account on Fiber, you agree to the <span class="c_Purple InterBold texDecoration cursor_pointer">Term & Conditions</span> </label>
            </div>

            <div class="d-flex flex-center flex-column">
                <button class=" NavbtnAuth InterBold flex-center cursor_pointer bg_Purple my-3 text-white" style="width:250px" type="submit">
                    Create Fiber Account
                </button>
<!--                <div></div>-->
                <span>Already have an Account? <span class="c_Purple cursor_pointer">Sign in</span></span>
            </div>
        </form>


    </div>


    <div class="box2SingUp bg_Purple">

    </div>
<!--    ************************ Content-->
<!--    ************************ Content-->

</body>
<script src="../../js/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="../../js/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="./js/main.js"></script>
<script src="../../js/bootstrap.bundle.min.js"></script>
<script src="../../js/bootstrap.min.js"></script>
</html>